[["The president is a dumbass" "This is news to nobody"]
 ["Nuclear Apocalypse" "So um yeah..."]
 ["Cat photos!" "Jesus Fucking Christ yes!!"]
 ["Email Scandal" "This will literally never end"]
 ["BlahBlahBlahBlahBlahBlahBlahBlahBlahBlah" "BlahBlah\nBlahBlah\nBlahBlahBlahBlah"]
 ["Cure for cancer" "This one weird trick..."]]
