* {
    margin: 0;
    padding: 0;
}

/* Tweets and feed */
.feed {
    position: absolute;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 60%;
    height: 100%;
}

.tweet {
    background-color: #20324f;
    color: white;
    border: 2px solid black;
}

.tweet p:first-child {
    font: 20pt Helvetica;
    padding: 8px;
    word-wrap: break-word;
}

.tweet p:last-child {
    font: 12pt Courier;
    text-align: right;
    padding: 4px;
}

/* Stats */
.stats {
    display: block;
    width: 40%;
    margin-left: 60%;
    position: absolute;
    font: 12pt monospace;
    padding: 5px;
}

.stat span {
    text-align: right;
    display: auto;
}

.controls {
    display: block;
    width: 40%;
    margin-left: 60%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px;
}

.gameover {
    display: block;
    text-align: center;
}
